<ActionBar title="{{ title + ' :)'}}" class="action-bar"> </ActionBar>
<GridLayout rows="auto, *" columns="*">
  <Button row="0" col="0" class="p-10 text-center btn btn-primary" text="Ajouter un article" (tap)="addArticle()"></Button>
  <ScrollView row="1" col="1">
    <StackLayout>
      <StackLayout *ngFor="let article of articles; let i = index;">
        <CardView class="cardStyle" height="auto" width="90%" margin="10" elevation="20" radius="10" ios:shadowColor="#CCCCCC" ios:shadowOpacity="7">
          <GridLayout rows="auto, auto, auto, auto, auto, auto" columns="*">
            <Image row="0" [src]="article.thumbnail"></Image>
            <Label row="1" col="0" class="p-10" text="N°: {{i}}" textWrap="true"></Label>
            <Label row="2" col="0" class="p-10" text="Title: {{article.title}}" textWrap="true"></Label>
            <Label row="3" col="0" class="p-10" text="{{article.creationDate  | date: 'd MMMM y'  }}" textWrap="true"></Label>
            <GridLayout row="4" col="0" rows="auto" columns="auto, auto, auto" class="p-10">
              <Label row="0" col="0" text="Likes: {{article.likes}}" textWrap="true"></Label>
              <Label row="0" col="1" class="p-l-10" text="Dislikes: {{article.dislikes}}" textWrap="true"></Label>
              <Label class="m-l-10 status" [ngStyle]="{ 'background-color' : article.likes > article.dislikes ? '#2ecc71' : '#c0392b' }"
                row="0" col="2" text="" textWrap="true"></Label>
            </GridLayout>
            <StackLayout row="5" orientation="horizontal">
              <Button class="btn btn-accent" text="Supprimer" (tap)="deleteArticle(article.id)"></Button>
              <Button class="btn btn-accent" text="Show details" [nsRouterLink]="['/articles', article.id]"></Button>
            </StackLayout>
          </GridLayout>
        </CardView>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
