<ActionBar title="Recherche" orientation="horizontal" android:horizontalAlignment="center">
    <Image src="res://lyrics-song-logo.png" class="action-image"></Image>
</ActionBar>
<GridLayout rows="auto, *" columns="*">
  <SearchBar style="background-color: rgb(31, 31, 31);" hint="Recherche" row="0" col="0" (submit)="onSubmit($event)" 
  color="gray" textFieldBackgroundColor="white" textFieldHintColor="gray"></SearchBar>
  <ScrollView row="1" col="1">
    <StackLayout>
      <StackLayout *ngFor="let gen of genius; let i = index;">
        <CardView class="cardStyle" height="auto" width="90%" margin="10"
        elevation="20" radius="10"
        ios:shadowColor="#CCCCCC"
        ios:shadowOpacity="7">
            <GridLayout rows="auto, auto, auto, auto, auto, auto" columns="*" [class]="gen.type">
              <Image row="0" [src]="gen.result.header_image_thumbnail_url"></Image>
              <Label row="1" col="0" class="p-10" text="Artiste : {{gen.result.primary_artist.name}}" textWrap="true"></Label>
              <Label row="2" col="0" class="p-10"  text="Titre : {{gen.result.title_with_featured}}" textWrap="true"></Label>
              <Button row="3" text="Infos sur la musique" class="btn btn-primary"  [nsRouterLink]="['/articles', gen.result.api_path]"></Button>
            </GridLayout>
        </CardView>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
